:root {
  --black: #000000;
  --main: #d8315b;
  --white: #ffffff;
  --accent: #93918a;
  --heading-font: "Edu VIC WA NT Beginner";
  --paragraph-font: "Roboto Condensed";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font), cursive;
}

div,
span,
p,
ul,
ol,
a,
label,
legend {
  font-family: var(--paragraph-font), sans-serif;
}

/* -------------------- Header Styles -------------------- */

header {
  padding-bottom: 1em;
}

header,
.logo-container,
.logo-container div,
footer,
footer section:nth-of-type(4) ul,
.weather,
.weather-item div:nth-of-type(2),
.temple section,
.reservations form div,
.reservations form legend,
.reservations form div div,
.reservations legend label,
.services,
.extended-stay section:nth-of-type(1),
.extended-stay section div ul,
.extended-stay .form-inputs,
.reception .form-inputs,
.reception section {
  display: flex;
}

header,
footer,
.reservations form div div,
.reservations form legend {
  flex-direction: column;
}

#closeMenu,
#menuButton.open #symbol,
#bookButton,
#navMenu {
  display: none;
}

#menuButton.open #closeMenu,
#navMenu.open,
#bookButton.open,
#navMenu a,
.reservations form div:nth-of-type(3) textarea,
#reservation-form {
  display: block;
}

.logo-container {
  grid-column: 1;
  color: var(--main);
  font-size: 1.3em;
  margin: 10px;
  justify-content: space-between;
}

header h1 {
  margin: auto 10px;
  font-size: 1em;
}

button,
#reservation-form,
#contact-us-form {
  background-color: var(--main);
  color: var(--white);
  padding: 0.3em;
  border-radius: 5px;
  border: 1px solid var(--white);
  max-width: 125px;
}

#menuButton {
  color: var(--main);
  background: transparent;
  grid-column: 3;
  font-size: 2em;
}

/* -------------------- UL Style -------------------- */

#navMenu ul,
footer ul,
.main-hero ul,
.services section ul,
.extended-stay section div ul,
.business-card ul,
.temple-card div ul {
  list-style: none;
  text-align: center;
  padding: 1em 0;
  background-color: var(--accent);
  margin: 0 0 10px;
}

#navMenu li,
footer li,
.main-hero li,
.services section li,
.extended-stay section div li,
.business-card li,
.temple-card div li {
  padding: 0.5em;
}

#navMenu a,
footer a {
  font-size: 1.3em;
  text-decoration: none;
  color: var(--black);
  padding: 0.2em;
}

#navMenu a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#bookButton {
  font-size: 1.2em;
  margin: 0 auto;
}

/* -------------------- Button Hover -------------------- */
#bookButton:hover,
.main-hero button:hover,
#reservation-form:hover,
#contact-us-form:hover {
  background-color: #d66f89;
}

/* -------------------- Home Page Styles -------------------- */
.home picture {
  max-width: 90vw;
}

.main-hero {
  background-color: var(--accent);
  color: var(--black);
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
  position: relative;
  top: -30px;
  max-width: 80vw;
}

.main-hero img,
.home img {
  width: 100%;
}

.main-hero picture {
  max-width: 70vw;
}

.main-hero button {
  font-size: 1.2em;
  max-width: 200px;
}

.weather,
.reception section,
.temple section {
  flex-wrap: wrap;
  justify-content: center;
}

.weather-item {
  margin: 0 2em;
  text-align: center;
}

.weather-item h5 {
  font-size: 1.5em;
  color: var(--main);
}

.weather-item div:nth-of-type(2) {
  border-top: 1px solid var(--accent);
}

.weather-item div:nth-of-type(2) span {
  padding: 0 0.5em;
}

/* -------------------- Temple Page Styles -------------------- */
.temple {
  text-align: center;
}

.temple-card {
  width: 45em;
  max-height: 300px;
  overflow: hidden;
  border: 3px dashed var(--main);
  margin: 1em;
  padding: 1em;
  position: relative;
}

#columbus-card.open,
#palmyra-card.open,
#nauvoo-card.open,
#baton-rouge-card.open {
  max-height: fit-content;
}

.temple-card div ul {
  text-align: left;
  background-color: transparent;
}

.temple-card button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* -------------------- Reservation Page Styles -------------------- */
.reservations {
  text-align: center;
  padding-bottom: 2em;
}

.reservations form {
  max-width: 75vw;
  width: fit-content;
  margin: 0 auto;
  text-align: left;
  border: 2px solid var(--accent);
  padding: 20px;
  border-radius: 6px;
}

.reservations form div {
  margin: 1em 0 1.5em;
  padding-bottom: 1em;
  border-bottom: 3px dotted var(--main);
}

.reservations form label {
  display: inline-block;
  margin: 0.4em;
}

.reservations form legend {
  margin-top: 1em;
  margin-bottom: 1em;
}

.reservations legend label {
  align-items: center;
}

.reservations form label input,
.extended-stay .form-inputs input,
.reception .form-inputs input {
  font-size: 1.1em;
  height: 1.5em;
  display: block;
}

.reservations form div {
  max-width: 70vw;
  flex-wrap: wrap;
}

.reservations form div:nth-of-type(3) {
  margin-top: 1em;
}

#reservation-form {
  font-size: 1.1em;
  padding: 0.25em;
  max-width: 100%;
  margin: 0 auto;
}

.reservations form div div {
  border: none;
  padding: 0 1em;
}

.reservations form textarea {
  max-width: 70vw;
}

/* -------------------- Thank You Page Styles -------------------- */
.thank-you {
  text-align: center;
  padding-bottom: 2em;
  border-top: 5px solid var(--black);
}

.thank-you h2 {
  font-size: 4em;
  color: var(--main);
}

.thank-you p {
  max-width: 50vw;
  font-size: 1.2em;
  margin: 0 auto;
}

/* -------------------- Services Page Styles -------------------- */
.services section {
  max-width: 75vw;
  margin: 1em;
  padding: 1em;
  border-left: 2px solid var(--main);
}

.services section a {
  color: var(--main);
  text-decoration: none;
}

.services section a:hover {
  text-decoration: underline;
}

.services section:nth-of-type(3) {
  border-top: 2px solid var(--accent);
}

.services section ul {
  background-color: transparent;
  text-align: left;
  border-top: 2px solid var(--accent);
}

.services {
  flex-wrap: wrap;
}

.services h2,
.services h3,
.extended-stay h2 {
  color: var(--main);
}

/* -------------------- Extended Stay Page Styles -------------------- */
.extended-stay {
  text-align: center;
}

.extended-stay section {
  flex-wrap: wrap;
}

.extended-stay section div {
  min-width: 40vw;
  max-width: 40vw;
  border: 2px solid var(--main);
  margin: 1em auto;
}

.extended-stay section div ul {
  text-align: left;
  background-color: transparent;
}

.extended-stay section div ul ul.amenities {
  border: 2px solid var(--accent);
  border-radius: 5px;
  width: fit-content;
}

.extended-stay form,
.reception form {
  max-width: 50vw;
  margin: 0 auto;
  text-align: left;
}

.extended-stay .form-inputs div,
.reception .form-inputs div {
  max-width: fit-content;
  min-width: fit-content;
}

.extended-stay .form-inputs div,
.extended-stay .form-inputs,
.reception .form-inputs div,
.reception .form-inputs {
  border: none;
}

.extended-stay textarea,
.reception textarea {
  display: block;
  width: 100%;
}

#contact-us-form {
  margin: 1em auto 0;
  display: block;
  font-size: 1.3em;
}

.extended-stay section:nth-of-type(2) {
  margin-top: 2em;
}

/* -------------------- Reception Page Styles -------------------- */
.reception {
  text-align: center;
}

.reception h2 {
  font-size: 2em;
}

.reception h3 {
  font-size: 1.6em;
  margin-top: 2em;
}
.reception .business-card {
  border: 2px solid var(--accent);
  border-radius: 10px;
  margin: 1em;
  padding: 0.75em;
}

.reception section {
  margin: 0 auto;
}

.reception form .form-inputs div {
  margin: 1em;
}

.business-card ul {
  background-color: transparent;
  text-align: left;
}

.business-card h4 {
  color: var(--main);
  font-size: 1.3em;
}

/* -------------------- Footer Styles -------------------- */
footer {
  margin-top: 3em;
  border-top: 5px solid var(--main);
}
footer h6 {
  font-size: 1.4em;
  padding: 0 0 0 0.5em;
  margin: 0;
}

footer section {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0;
  border-top: 2px solid var(--accent);
}

footer ul {
  background-color: transparent;
}

footer section:nth-of-type(1) a {
  font-size: 1em;
}

footer section:nth-of-type(1) {
  border: none;
}

footer img {
  width: 100%;
  background-color: var(--main);
}

footer section:nth-of-type(4) li {
  max-width: 60px;
}

footer section:nth-of-type(4) img:hover {
  transform: scale(1.15);
}

footer a:hover {
  color: var(--main);
}
