@media screen and (min-width: 32.5em) {
  header {
    max-width: 750px;
    grid-template-columns: 300px 1fr;
  }

  header img {
    max-width: 300px;
  }

  body {
    max-width: 750px;
  }

  main {
    max-width: 750px;
  }

  footer {
    max-width: 750px;
    padding: 1em;
  }
}
